In [1]:
1+1

2

In [2]:
print(54+411)

465

In [3]:
##Basic syntax Rules in Python
#1. Python is case sensitive language
#2. Python uses indentation to define code blocks, instead of curly braces or keywords

age = 25
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

In [ ]:
## This is a single line comment
"""This is a multi-line comment
that can span multiple lines."""


##line continuation - using a backslash (\) to indicate that a statement continues on the next line
total = 1 + 2 + 3 + \
        4 + 5 + 6

print(total)

21

In [5]:
## Multiple statements on a single line - using a semicolon (;) to separate multiple statements on the same line

x = 10; y = 20; z = x + y; print(z)

30

In [6]:
## Understanding semantics in python
age = 25 #age is a integer variable that holds the value 25
name = "John" #name is a string variable that holds the value "John"
is_student = True #is_student is a boolean variable that holds the value True

In [7]:
type(age)

int

# Variables

In [8]:
## Declearing and assigning variables in python
age = 25
name = "John"
is_student = True
height = 1.75


## pringing variables
print("age:", age)
print("name:", name)
print("is_student:", is_student)
print("height:", height)

age: 25
name: John
is_student: True
height: 1.75

In [9]:
## Naming conventions in python
#1. Variable names should be descriptive and meaningful
#2. Variable names must always start with a lerter (a-z, A-Z) or an underscore (_)
#3. Variable names can contain letters, digits (0-9), and underscores (_)
#4. Variable names are case sensitive


#Valid variable names
first_name = "John"
last_name = "Doe"
_house_number = 123

print(_house_number)

123

### Understanding Variable Types

In [10]:
## Variables are either Strings, Integers, Floats, Booleans, Lists, Tuples, Dictionaries, Sets, etc. in python

In [12]:
## Type checking and conversion

age = 25
print(type(age))

## Type conversion
age_str = str(age) #converting integer to string
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [13]:
## Dyanamic typing in python - variables can change type during runtime

var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>

In [19]:
## input
name = input("Enter your name: ")
print("Hello, " + name + "!")
print(type(name))

age = int(input("Enter your age: "))
print("You are " + str(age) + " years old.")
print(type(age))

Hello, Brian Michael!
<class 'str'>
You are 23 years old.
<class 'int'>

### Data types

In [20]:
## data types are a classification of data which tells the compiller or interpreter how the programmer intends to use the data. Python has several built-in data types, including:
#1. Numeric types: int, float, complex
#2. Sequence types: list, tuple, range
#3. Text type: str
#4. Mapping type: dict
#5. Set types: set, frozenset
#6. Boolean type: bool

In [21]:
## Integers
num = 42
print(num)
print(type(num))

42
<class 'int'>

In [22]:
## floating point numbers
pi = 3.14159
print(pi)
print(type(pi))

3.14159
<class 'float'>

In [23]:
## String data type
greeting = "Hello, World!"
print(greeting)
print(type(greeting))

Hello, World!
<class 'str'>

In [24]:
## boolean data type
is_valid = True
print(is_valid)
print(type(is_valid))

True
<class 'bool'>

In [ ]:
## Common errors

result = 'dello' + 7

TypeError: can only concatenate str (not "int") to str

In [29]:
akma = 'kamau'

print(akma.capitalize())

Kamau

## Operators

In [30]:
## Arithmetic operations

a = 10
b = 5
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 100000

In [39]:
## comparison operators

a = 10
b = 15

print('results of comparison operators:\n')
print('Equal to operator','\na == b:', a == b, )
print('Not Equal to operator','\na != b:', a != b)
print('Greater than operator','\na > b:', a > b)
print('Less than operator','\na < b:', a < b)
print('Greater than or equal to operator','\na >= b:', a >= b)
print('Less than or equal to operator','\na <= b:', a <= b)

results of comparison operators:

Equal to operator
a == b: False
Not Equal to operator
a != b: True
Greater than operator
a > b: False
Less than operator
a < b: True
Greater than or equal to operator
a >= b: False
Less than or equal to operator
a <= b: True

In [40]:
## Logical operators

## And, or, not

x = True
y = False

result_and = x and y
result_or = x or y
result_not_x = not x
result_not_y = not y

print("x and y:", result_and)
print("x or y:", result_or)
print("not x:", result_not_x)
print("not y:", result_not_y)

x and y: False
x or y: True
not x: False
not y: True